<% if admin_signed_in? %>
  <h3>Cannot attend</h3><br/>

  <container>
    <table class="table">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Message</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @not_attendings.each do |not_attending| %>
          <tr>
            <td><%= not_attending.first_name %></td>
            <td><%= not_attending.last_name %></td>
            <td><%= not_attending.message %></td>
            <td><%= link_to 'Show', not_attending %></td>
            <td><%= link_to 'Edit', edit_not_attending_path(not_attending) %></td>
            <td><%= link_to 'Destroy', not_attending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </container>

  <br>

<% end %> 