<h1>Listing not_attendings</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @not_attendings.each do |not_attending| %>
      <tr>
        <td><%= not_attending.first_name %></td>
        <td><%= not_attending.last_name %></td>
        <td><%= not_attending.email %></td>
        <td><%= link_to 'Show', not_attending %></td>
        <td><%= link_to 'Edit', edit_not_attending_path(not_attending) %></td>
        <td><%= link_to 'Destroy', not_attending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Not attending', new_not_attending_path %>
